@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .custom-scrollbar::-webkit-scrollbar-track {
    background-color: #000000;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 5px;
    background-color: #000000;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: rgb(253 224 71);
  }

  .text-stroke {
    -webkit-text-stroke: 1px #e5e5e5;
    color: transparent;
  }
}

@font-face {
  font-family: "AkrobatRegular";
  src: url(lib/fonts/AkrobatRegular.woff) format("woff");
  font-display: swap;
}

@font-face {
  font-family: "AkrobatBlack";
  src: url(lib/fonts/AkrobatBlack.woff) format("woff");
  font-display: swap;
}

@font-face {
  font-family: "AkrobatBold";
  src: url(lib/fonts/AkrobatBold.woff) format("woff");
  font-display: swap;
}

@font-face {
  font-family: "AkrobatExtraBold";
  src: url(lib/fonts/AkrobatExtraBold.woff) format("woff");
  font-display: swap;
}

@font-face {
  font-family: "AkrobatSemiBold";
  src: url(lib/fonts/AkrobatSemiBold.woff) format("woff");
  font-display: swap;
}